nav {
  color: rgb(0, 92, 121);
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 120px;
	position: sticky;
  top: 0;
	width: 100%;
  z-index: 10;
}

.navitems {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: 'Bungee', cursive;
}

.newtweetnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.newtweetnav:hover {
  margin-top: 10px;
  cursor: pointer;
  color: darkcyan;
}

.newtweetnav:hover > .fa-solid {
  color:darkorchid;
  padding-bottom: 10px;
  animation: Wigglehover 1s linear infinite;
}

.newtweetnav:active {
  margin-bottom: 0;
}

.fa-solid {
 color: orange;
 animation: Wiggle 1s linear infinite;
}

@keyframes Wigglehover {
  0%, 70% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes Wiggle {
  0%, 50% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media (max-width: 570px) {
  nav > span {
    font-size: 2rem;
  }
  .navitems {
    font-size: 2rem;
  }
}