nav {
  color: rgb(101, 216, 252);
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  height: 20%;
  padding-left: 2%;
  padding-right: 2%;
	position: sticky;
  top: 0;
	width: 100%;
  z-index: 10;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.logo {
  font-size: 1.2em;
  cursor: pointer;
}

.logo:hover {
  color: cornflowerblue;
  
}

.logo:active {
  color:cornsilk;
}

.navitems {
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: 'Bungee', cursive;
}

.newtweetnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.newtweetnav:hover {
  margin-top: 10px;
  cursor: pointer;
  color: darkcyan;
}

.newtweetnav:hover > .fa-solid {
  color:darkorchid;
  padding-bottom: 10px;
  animation: Wigglehover 1s linear infinite;
}

.newtweetnav:active {
  margin-bottom: 0;
}

.fa-solid {
 color: orange;
 animation: Wiggle 1s linear infinite;
}

@keyframes Wigglehover {
  0%, 70% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes Wiggle {
  0%, 50% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 570px) {
  nav > span {
    font-size: 2rem;
  }
  .navitems {
    font-size: 2rem;
  }
}