.new-tweet {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: #e3f8ff;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  border-radius: 15px;
  color: darkcyan;
  border: black solid 0.2em;
  width: 50%;
  margin-bottom: 5%;
  margin-top: 10%;
}

.new-tweet:hover {
  box-shadow: 5px 7px;
}

.tweet-text {
  background-color: #e3f8ff;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  width: 80%;
  height: auto;
  border-width: 4px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  margin-left: 8%;

}

.composetweet {
  text-indent: 3px;
  display: flex;
  justify-content: center;
  color: darkcyan;
}

.underform {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: 'Bungee', cursive;
  color:darkcyan;
}


.tweetbutton {
  background-color: rgb(77, 154, 206); /* Green */
  border: none;
  color:whitesmoke;
  padding: 1.5em 1.5em;
  text-align: center;
  display: inline-block;
  font-size: 0.6em;
  border-radius: 3em;
  font-family: 'Bungee', cursive;
  border: white solid 2px;
  cursor: pointer;
}

.tweetbutton:hover {
  background-color: darkcyan;
}

.redtext {
  color: red;
}

.error {
  width: 100%;
  background-color: whitesmoke;
  color: red;
  padding: 1em;
  border: black solid 3px;
  display: none;
  text-align: center;
}

@media (max-width: 570px) {
  .new-tweet {
    margin-top: 25%;
  }
}