article {
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  /* height: 300px; */
  padding: 10px;
  margin: 30px 0 10px 0;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: #e3f8ff;
  color:darkcyan;
}

article:hover {
  box-shadow: 5px 7px;
}


.tweetheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  display: flex;
  /* margin-top: 10px; */
  margin-right: 270px;
  justify-content: space-between;
  align-self:flex-start;
}

.userimg {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

.tweetitself {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 774px;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgb(58, 58, 58);
  border-bottom: rgb(10, 10, 10) solid 3px;
}

.tweetfooter {
  border-bottom: black solid 3px;
  display: flex;
  justify-content: space-between;
  color: rgb(58, 58, 58);
}
.icon-footer {
  color: lightslategrey;
  cursor: pointer;
}
.icon-footer:hover {
  color: orange;
} 