article {
  border: solid black 3px;
  box-shadow: 5px 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* height: 300px; */
  padding: 10px;
  margin: 30px 0 10px 0;
  color:darkcyan;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  margin-bottom: 100px;
  margin-top: 100px;
}

.name-icon {
  display: flex;
  /* margin-top: 10px; */
  margin-right: 270px;
  justify-content: space-between;
}

.tweetheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#newtonimg {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.tweetitself {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: darkcyan;
  border-bottom: rgb(255, 255, 255) solid 3px;
}

.tweetfooter {
  border-bottom: black solid 3px;
  display: flex;
  justify-content: space-between;
  color: darkcyan;
}
.icon-footer {
  color: darkcyan;
  cursor: pointer;
}
.icon-footer:hover {
  color: orange;
} 